{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/simba.svg" width="160">
		<h1>Welcome</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facilis distinctio, tempora sint vitae iusto! Perferendis animi odio ex delectus asperiores, magni, officia et recusandae ratione explicabo laudantium, numquam nostrum.
		</p>
	</div>
	<div class="row">
		<div class="col-md-4 col-lg-4">
			<h3>Bout</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque similique nemo harum explicabo, molestiae molestias aliquam officia culpa nulla officiis quidem facilis autem mollitia architecto assumenda enim earum dignissimos aut.</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Bout</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque similique nemo harum explicabo, molestiae molestias aliquam officia culpa nulla officiis quidem facilis autem mollitia architecto assumenda enim earum dignissimos aut.</p>
		</div>
		<div class="col-md-4 col-lg-4">
			<h3>Bout</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque similique nemo harum explicabo, molestiae molestias aliquam officia culpa nulla officiis quidem facilis autem mollitia architecto assumenda enim earum dignissimos aut.</p>
		</div>

	</div>
</div>
